body,html
{
    margin: 0;
    padding: 0;
}

body
{
    
    background-image: url(../images/login-background.jpg);
    background-size: cover;
}

h1
{
    text-align: center;
}
.box
{
    color: black;
    border: 1px solid black;
    border-radius: 5%;

    float: right;
    margin: 5%;
    padding: 3%;

    box-shadow: 5px 5px rgba(0,0,0,0.5);

}
table
{
   color: black; 
}
td
{
    width: auto;
    padding: 2%;

    font-weight: bold;
}

#registerButton
{
    width: 30%;
    font-size: large;
}

span
{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 500;
    background-color: white;
    border-radius: 10px;
}

.box{
  animation: slideIn 2s;
}

@keyframes slideIn {
  from { transform: translateX(+70%); }
  to { transform: translateX(0); }
}